body {
  background-image: url(../img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg); }

h1, h2, h3, h4, p, .subtitle {
  color: #ffff; }

header {
  text-align: center;
  padding: 100px; }

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card {
  width: 40%;
  font-size: 24px;
  color: #ffff;
  margin: 100px 10px;
  border: 1px solid #e3e3e3;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }
