// Paleta de colores
$color-fondo: linear-gradient(rgb(202, 202, 202), rgb(38, 42, 253));
$color-hover: rgb(0, 0, 0);

$color-topTitle: rgb(1, 11, 107);
$color-topParra: rgb(0, 21, 53);

$color-bottomTitle: rgb(222, 227, 241);
$color-bottomParra: rgb(191, 195, 253);

$color-cards: rgb(8, 10, 31);



// termina paleta de colores

// Globales

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    background: $color-fondo;
    font-family: "Montserrat", sans-serif;
}
a {
    text-transform: uppercase;
    color: $color-bottomTitle;
    text-decoration: none;
}
i {
    display:inline-block;
    width: 150px;
    
}
a, i {
    cursor: pointer;
    font-weight: 700;
}
h1,
h2,
h3,
h4,{
    color: $color-topTitle;
}
p{
    color: $color-topParra;
}

h1 {
    font-weight: 700;
}
.bottomTitle{
    color:$color-bottomTitle;
    
}
.bottomParra {
    color:$color-bottomParra;

}
header {
    text-align: center;
    padding: 100px;
    
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    height: 20rem;
    font-size: 1.5rem;
    color: $color-cards;
    margin: 8rem 1rem;
    border: 1px solid #202331;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Termina Globales */

/* Barra de Navegación */
.navParent {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: 700;
    color: $color-topTitle;
}
.navParent :hover {
    color: $color-hover;
    cursor: pointer;
}
.nav__Link {
    padding: 0.8rem;
    
}


/* Termina Barra de Navegación */